@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

*, ::before, ::after {
    position: relative;
    box-sizing: border-box;
}

:root {
    --wheel-font-size: 12px;
    --wheel-item-size: 13em;
    --wheel-item-skew: 27.36842105263158px;
    --wheel-indent: -41em;
}

body {
    margin: 0;
    background: #18191b url("../img/bg.png") no-repeat;
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
    line-height: 1;
    color: white;
}

button, input {
    font: inherit;
    color: inherit;
    line-height: 1;
    background: unset;
    border: unset;
    outline: unset;
}

a {
    text-decoration: none;
}

a.ghost {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
}

.hidden {
    display: none !important;
}

/* Colours */

.darkgray {
    color: #3e4147;
}

.gray {
    color: #686c75;
}

/* Skews */

.skewed-text {
    font-style: italic;
}

.skewed-element::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    border-radius: inherit;
    transform: skew(-12deg);
    z-index: -1;
}

/* Default Button*/

.stndfspin-button {
    padding: 0.65em 0.9em;
    border-radius: 0.25em;
    cursor: pointer;
}

.stndfspin-button::before {
    background: #313438;
    transition: 0.3s ease background-color;
}

.stndfspin-button--gray {}

.stndfspin-button--unfilled::before {
    background: transparent;
    border: 0.125em solid #313438;
}

/* Icons */

[class *="icon"] {
    display: block;
    background: no-repeat center/contain;
}

.icon__window {
    background-image: url("../img/icons/window.png");
    width: 1em;
    height: 1.15em;
}

.icon__contract {
    background-image: url("../img/icons/contract.png");
    width: 1em;
    height: 1.15em;
}

.icon__profile {
    background-image: url("../img/icons/profile.png");
    width: 1em;
    height: 1.15em;
}

.icon__bar-chart {
    background-image: url("../img/icons/bar-chart.png");
    width: 1em;
    height: 1.15em;
}

.icon__vk {
    background-image: url(https://standoffcasetest.ru/assets/img/icons/vk.png);
}

.icon__instagram {
    background-image: url(https://standoffcasetest.ru/assets/img/icons/instagram.png);
}

.icon__youtube {
    background-image: url(https://standoffcasetest.ru/assets/img/icons/youtube.png);
}

/* Topbar */

.topbar {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    max-width: 1320px;
    margin: 0 auto;
}

.topbar__logo {
    align-self: center;
}

.topbar__logo--logo {
    width: 10em;
}

.topbar-menu {
    display: flex;
    align-items: center;
}

.topbar-menu__link {
    padding: 2em 0.25em;
    margin: 0 0.75em;
    font-weight: 600;
    color: #686c75;
    text-transform: uppercase;
}

.topbar-menu__link:hover, .topbar-menu__link--active {
    font-style: italic;
    color: white;
}

.topbar-menu__link::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.2em;
    background: #ffc500;
    border-radius: 0.25em 0.25em 0 0;
    opacity: 0;
    transition: 0.3s ease opacity;
}

.topbar-menu__link:hover::before, .topbar-menu__link--active::before {
    opacity: 1;
}

.topbar-language {
    display: flex;
    align-self: center;
    padding: 1em;
    font-weight: 600;
    border-radius: 0.25em;
    cursor: pointer;
}

.topbar-language::before {
    background: #313438;
    transition: 0.3s ease background-color;
}

.topbar-language:hover::before {
    background: #ffc500;
}

.topbar-language__icon {}

.topbar-language__text {
    text-transform: uppercase;
}

.topbar-profile {
    display: flex;
    align-items: stretch;
}

.topbar-profile__balance {
    display: flex;
    padding: 1.15em 2em;
    padding-right: 3.5em;
}

.topbar-profile__balance::before {
    background: rgba(255, 255, 255, 0.025) url("../img/profile_bg.png") no-repeat center/125%;
    background-position-x: -100%;
    background-position-y: 15%;
}

.topbar-profile__button {
    padding: 1em 1.5em;
    margin-right: 0.75em;
    background: #88cc31;
    border-radius: 0.15em;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.topbar-profile__column {
    display: grid;
    grid-gap: 0.25em;
}

.topbar-profile__user {
    display: flex;
    align-items: center;
    left: -1.5em;
}

.topbar-profile__avatar {
    width: 3.25em;
    height: 3.25em;
    padding: 0.175em;
    margin-right: 0.75em;
    border: 0.15em solid #313438;
    border-radius: 100%;
}

/* Features */

.stndfspin-features {
    display: flex;
    align-items: center;
    padding: 2em 2.5em;
    max-width: 1320px;
    margin: 0 auto;
}

.stndfspin-features::before {
    border: 0.125em solid rgba(255, 255, 255, 0.025);
}

.stndfspin-features__options {
    display: inherit;
    align-items: inherit;
    margin-right: 2em;
}

.stndfspin-features__options>* {
    cursor: pointer;
    user-select: none;
}

.stndfspin-features__stats {
    display: inherit;
    align-items: inherit;
}

.stndfspin-features__pattern {
    display: flex;
    align-items: center;
    margin: 0 1em;
}

.stndfspin-features__icon {}

.stndfspin-features__icon>svg {
    display: flex;
    width: 1.15em;
    height: 1.15em;
    fill: #a24a4a;
    transition: 0.3s ease fill;
}

.stndfspin-features__icon--green>svg {
    fill: #88cc31;
}

.stndfspin-features__column {
    display: grid;
    grid-gap: 0.25em;
    margin-left: 1em;
    font-size: 0.9em;
}

.stndfspin-features__column>b {
    font-size: 1.25em;
    text-transform: uppercase;
}

/* Scoial Networks */

.social-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    z-index: 1;
}

.social-row__title {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}

.social-row__icon {
    padding: 0.65em 0.75em;
    margin-left: 1em;
    border-radius: 0.25em;
}

.social-row__icon::before {
    background: rgba(255, 255, 255, 0.025);
}

.social-row__icon--icon {
    width: 1em;
    height: 1em;
    filter: contrast(0.1) opacity(0.5);
    transition: .125s ease filter;
}

.social-row__icon:hover .social-row__icon--icon {
    filter: contrast(1) opacity(1);
}

/* Weapon skins as you see */

.weapon-skins {
    display: flex;
    overflow-y: visible;
}

.weapon-skins__weapon {
    display: inline-grid;
}

.weapon-skins__unit {
    cursor: pointer;
}

.weapon-skins__image {
    width: 6.7em;
    height: 3.8em;
}

.weapon-skins__unit .weapon-skins__image, .weapon-skins__unit .weapon-skins__quality {
    z-index: 13;
}

.weapon-skins__quality {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 0.175em;
    background: #ccc;
    border-radius: 100%;
}

.weapon-skins__quality--blue {
    background: #0154c6;
}

.weapon-skins__quality--skyblue {
    background: #579EFF;
}

.weapon-skins__quality--red {
    background: #CC4450;
}

.weapon-skins__quality--pink {
    background: #f140af;
}

.weapon-skins__quality--purple {
    background: #8120ef;
}

.weapon-skins__quality--gold {
    background: #FFD700;
}

/* Live Drops */

.live-drops {
    display: flex;
    max-width: 1320px;
    margin: 2em auto 0;
    overflow: hidden;
}

.live-drops .weapon-skins__weapon {
    margin-right: 1.5em;
}

.live-drops .weapon-skins__image {
    width: 7em;
    height: 3.7em;
}

.live-drops::before, .live-drops::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 5em;
    z-index: 1;
}

.live-drops::before {
    right: unset;
    box-shadow: inset 70px 0 30px -35px #18191b;
}

.live-drops::after {
    left: unset;
    box-shadow: inset -70px 0 30px -35px #18191b;
}

/* Main */

main {
    max-width: 1320px;
    margin: 0 auto;
}

/* Temporal Event */

.temp-event {
    display: flex;
    align-items: center;
    padding: 1.5em 3em;
    margin: 6em 2em 4em;
}

.temp-event::before {
    background: rgba(255, 255, 255, 0.025);
    border: 0.125em solid rgba(255, 255, 255, 0.025);
}

.temp-event::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0.125em solid rgba(255, 255, 255, 0.025);
    /* border-bottom: unset; */
    transform: skew(-12deg) translate(-2.625em, -50%);
    z-index: -2;
}

.temp-event__image {
    background-image: url("../img/event_1.png");
    width: 14em;
    height: 11em;
    margin: -5.5em 0;
    margin-left: -4em;
}

.temp-event__summary {
    margin: 0;
    font-size: 1.5em;
    font-style: italic;
}

.temp-event__summary--marked {
    color: #ffc500;
    text-shadow: 0 0 0.25em rgba(255, 197, 0, 0.35);
}

.temp-event__end {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.timer-v2 {
    display: flex;
    align-items: center;
}

.timer-v2__text {
    margin-right: 1.4em;
    font-size: 0.85em;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
}

.timer-v2__count {
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: 700;
}

.timer-v2__count::after {
    content: ':';
    margin: 0.75em;
    font-style: italic;
}

.timer-v2__count:last-child::after {
    content: unset;
}

.timer-v2__number {
    padding: 0.75em 0.85em;
    margin-left: 0.25em;
    width: 2.5em;
    text-align: center;
}

.timer-v2__number:first-child {
    margin: 0;
}

.timer-v2__number::before {
    background: rgba(255, 255, 255, 0.035);
}

/* Page Part */

.page-part {}

.page-part__article {
    display: grid;
    justify-content: center;
    margin-bottom: 2em;
}

.page-part__title {
    margin: 0;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}

.page-part__icon {
    background-image: url("../img/lumen.png");
    width: 16em;
    height: 1.5em;
}

.page-part__container {}

/* StandoffSping Cases */

.stndfspin-cases {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    text-align: center;
}

.stndfspin-cases__case {
    padding: 1.25em;
    transition: .125s linear background-color;
}

.stndfspin-cases__case:hover {
    background: rgba(37, 38, 41, 0.5);
}

.stndfspin-cases__image {
    width: 9.5em;
    height: auto;
}

.stndfspin-cases__price {
    top: -0.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.stndfspin-cases__cost {
    font-size: 1em;
    font-weight: 600;
    padding: 0.65em 0.85em;
    border-radius: 0.15em;
}

.stndfspin-cases__cost::before {
    content: '';
    background: #88cc31;
}

.stndfspin-cases__title {
    font-size: 1.1em;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    margin-top: 0.75em;
}

.stndfspin-cases__lumen {
    display: flex;
    top: 1.375em;
    left: -1.25em;
    justify-content: center;
    width: calc(100% + 2.5em);
    height: 0.125em;
    background: rgb(36, 37, 39);
}

.stndfspin-cases__lumen::before {
    content: '';
    width: 35%;
    height: 0.25em;
    background: rgb(37, 38, 41);
    border-radius: 0 0 0.25em 0.25em;
    transition: .125s linear background-color, .125s linear box-shadow;
}

.stndfspin-cases__case:hover .stndfspin-cases__lumen::before {
    background: #88cc31;
    box-shadow: 0 0 12px #88cc31;
}

.stndfspin-cases__aside {
    font-size: 0.75em;
    font-weight: 600;
    padding: 0.65em 0.85em;
    border-radius: 0.15em;
    position: absolute;
    transform: translate(100%, -75%);
}

.stndfspin-cases__aside::before {
    content: '';
    background: #de3d43;
}

/* Page with wheel */

.fortune__circle {
    display: flex;
    width: inherit;
    height: 212%;
    padding: 0;
    margin: 0;
    will-change: transform;
    backface-visibility: hidden;
    transition: 16s cubic-bezier(.1, 0, 0, 1) transform;
    animation: 100s linear spinning infinite;
}

.fortune__circle--stop {
    transition: unset
}

.fortune__item {
    display: grid;
    justify-items: center;
    align-content: center;
    position: absolute;
    top: calc(50% - 6.5em);
    left: calc(50% - 8.125em);
    width: calc(var(--wheel-item-size) * 1.25);
    height: var(--wheel-item-size);
}

.fortune__item::before {
    content: '';
    border-top: var(--wheel-item-size) solid rgba(255, 255, 255, 0.025);
    border-left: var(--wheel-item-skew) solid transparent;
    border-right: var(--wheel-item-skew) solid transparent;
    border-radius: 100% / 10% 10% 0 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.fortune__item::after {
    content: '';
    border-top: 8px solid #84c430;
    border-left: 1.4035087719298245px solid transparent;
    border-right: 1.4035087719298245px solid transparent;
    position: absolute;
    left: 14%;
    right: 0;
    bottom: 0;
    width: 72.5%;
    z-index: -1;
}

.fortune__item:first-of-type {
    transform: rotate(0deg) translateY(var(--wheel-indent));
}

.fortune__item:nth-of-type(2) {
    transform: rotateZ(20deg) translateY(var(--wheel-indent));
}

.fortune__item:nth-of-type(3) {
    transform: rotate(40deg) translateY(var(--wheel-indent));
}

.fortune__item:nth-of-type(4) {
    transform: rotate(60deg) translateY(var(--wheel-indent));
}

.fortune__item:nth-of-type(5) {
    transform: rotate(80deg) translateY(var(--wheel-indent))
}

.fortune__item:nth-of-type(6) {
    transform: rotate(100deg) translateY(var(--wheel-indent))
}

.fortune__item:nth-of-type(7) {
    transform: rotate(120deg) translateY(var(--wheel-indent))
}

.fortune__item:nth-of-type(8) {
    transform: rotate(140deg) translateY(var(--wheel-indent))
}

.fortune__item:nth-of-type(9) {
    transform: rotate(160deg) translateY(var(--wheel-indent))
}

.fortune__item:nth-of-type(10) {
    transform: rotate(180deg) translateY(var(--wheel-indent))
}

.fortune__item:nth-of-type(11) {
    transform: rotate(200deg) translateY(var(--wheel-indent))
}

.fortune__item:nth-of-type(12) {
    transform: rotate(220deg) translateY(var(--wheel-indent));
}

.fortune__item:nth-of-type(13) {
    transform: rotate(240deg) translateY(var(--wheel-indent));
}

.fortune__item:nth-of-type(14) {
    transform: rotate(260deg) translateY(var(--wheel-indent));
}

.fortune__item:nth-of-type(15) {
    transform: rotate(280deg) translateY(var(--wheel-indent));
}

.fortune__item:nth-of-type(16) {
    transform: rotate(300deg) translateY(var(--wheel-indent));
}

.fortune__item:nth-of-type(17) {
    transform: rotate(320deg) translateY(var(--wheel-indent));
}

.fortune__item:nth-of-type(18) {
    transform: rotate(340deg) translateY(var(--wheel-indent));
}

.fortune-wheel {
    width: 100%;
    height: 51em;
    padding-top: 5em;
    margin: 0 auto;
    position: relative;
    font-size: var(--wheel-font-size);
    overflow: hidden;
}

.fortune-wheel::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 6em;
    box-shadow: inset 0 -75px 30px -30px #18191b;
    z-index: 1;
}

.fortune__item-image {
    object-fit: contain;
    width: 62%;
}

.fortune-wheel__curve-1 {
    position: absolute;
    top: -5%;
    left: -35%;
    width: 170%;
    height: 225%;
    background: url(../img/wheel_curves_1.png) no-repeat center/58.5%;
    border-radius: 100%;
}

.fortune-wheel__curve-2 {
    position: absolute;
    top: -10%;
    left: -35%;
    width: 170%;
    height: 225%;
    background: url(../img/wheel_curves_2.png) no-repeat center/34%;
    border-radius: 100%;
}

.fortune-wheel::after {
    content: '';
    position: absolute;
    top: 1em;
    left: calc(50% - 2em);
    width: 4em;
    height: 6.5em;
    background: url(../img/icons/diamond_shield.png) no-repeat center/contain;
    z-index: 2;
}

.fortune-wheel--without-after::after {
    content: unset;
}

.fortune-wheel__inner {
    position: absolute;
    display: grid;
    grid-gap: 2em;
    align-content: center;
    justify-items: center;
    text-align: center;
    width: 40%;
    height: 70%;
    top: 30%;
    left: 30%;
    border-radius: 100%;
}

.fortune-wheel__inner--0 {
    font-size: 1.25em;
    top: 15%;
}

.fortune-wheel__header {
    font-size: 1.25em;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
}

.fortune-wheel__text {
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
}

.fortune-wheel__image {
    font-size: 4em;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    padding: 0.35em 0;
}

.fortune-wheel__image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--bg) no-repeat center/contain;
}

.fortune-wheel__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.fortune-wheel__button--0, .fortune-wheel__button--1 {
    padding: 1.5em 1.75em;
    border-radius: 0.25em;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.fortune-wheel__button--0::before {
    background: #222426;
}

.fortune-wheel__button--1 {
    top: -1em;
    margin-left: 1em;
}

.fortune-wheel__button--1::before {
    background: #89cc32;
}

.fortune-wheel__win-cover {
    background-image: url("../img/win_cover.png");
    background-size: 150%;
    background-position: 49% 25.5%;
    position: absolute;
    top: -150%;
    left: -300%;
    right: -300%;
    bottom: -150%;
    z-index: -1;
}

/* Weapon Pattern */

.sorted-skins {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sorted-skins__unit {
    padding: 1.5em;
    background: #222326;
    border-bottom: 0.125em solid;
}

.sorted-skins__unit--blue {
    border-color: #0154c6;
}

.sorted-skins__unit--skyblue {
    border-color: #579EFF;
}

.sorted-skins__unit--red {
    border-color: #CC4450;
}

.sorted-skins__unit--pink {
    border-color: #f140af;
}

.sorted-skins__unit--purple {
    border-color: #8120ef;
}

.sorted-skins__unit--gold {
    border-color: #FFD700;
}

.sorted-skins__skin-title {
    font-size: 1em;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    margin-top: 1em;
}

/* Footer */

footer {
    display: grid;
    padding: 3em 0;
    margin: 10em auto 0;
    background: #151618;
    box-shadow: 0 0 15px #151618;
}

.bottombar, .lastbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

.bottombar__logo {
    align-self: center;
}

.bottombar__logo--logo {
    width: 10em;
    filter: contrast(0.25) opacity(0.75) saturate(0);
}

.bottombar__description {
    width: 25em;
}

.bottombar .social-row {
    flex: unset;
}

.bottombar-menu {
    display: flex;
    align-items: center;
}

.bottombar-menu__link {
    margin-left: 1em;
    font-weight: 600;
    color: #686c75;
    text-transform: uppercase;
}

.bottombar-menu__link:hover, .bottombar-menu__link--active {
    font-style: italic;
    color: white;
}

.bottombar-menu__link:first-child {
    margin: 0;
}

.lastbar {
    margin-top: 2em;
}

.copyright {
    font-style: italic;
    font-weight: bold;
    color: #686c75;
}