@media screen and (max-width: 1120px) {
    body {
        font-size: 18px;
    }
    .topbar, .stndfspin-features, .live-drops, main, .bottombar, .lastbar, .temp-event {
        max-width: unset;
    }
}

@media screen and (max-width: 1160px) {
    body {
        width: 1160px;
    }
}